.article .description {
  color: #999;
}
.dl-horizontal dd.article-status {
  border-radius: 6px;
  font-weight: 700;
  padding: 5px 0;
}
#main-carousel {
  background-color: #eee;
}
#main-carousel .carousel-inner div img {
  width: 100%;
}
#main-carousel .carousel-inner div a:hover,
#main-carousel .carousel-inner div a:focus {
  cursor: -webkit-zoom-in;
}
@media (min-width: 768px)
{
  .carousel-thumbs {
    padding: 0px;
    margin: 0px;
  }
  .carousel-big-picture {
    padding-right: 5px;
    margin-bottom: 5px;
  }
}
@media (max-width: 768px)
{
  .carousel-thumbs {
    margin-top: 5px;
    padding-left: 15px;
  }
}
#main-carousel-thumbs ul li {
  cursor: pointer;
}
#main-carousel-thumbs ul li.active img {
  opacity: .5;
}
.vcenter {
  display: inline-block;
  float: none;
  vertical-align: middle;
}
.addthis_sharing_toolbox {
  margin-bottom: 10px;
}
