.selected-classifieds .thumbnail {
    margin-bottom: 20px;
    max-height: 290px;
}
.selected-classifieds .thumbnail img {
    min-height: 180px;
    max-height: 180px;
}
.selected-classifieds .caption {
    text-align: center;
}
.thumbnail .caption {
    color: #333;
    padding: 9px;
}
.selected-classifieds .caption h5 a {
    color: #555;
}
.selected-classifieds .caption h5 {
    font-size: 85%;
    margin: 0;
}
