.featured {
    background-color: #f0dd00;
    border-radius: 4px;
    padding: 15px 0;
    margin-bottom: 20px;
}
.featured-items {
    margin: 0 38px;
}
.featured .featured-thumbnail {
    max-height: 290px;
    background-color: #f8f8f8;
    border: 0px;
    position: relative;
    display: inline-block;
}
.featured .featured-thumbnail img {
    max-height: 180px;
}
.featured .featured-thumbnail .caption {
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}
.featured .caption h5 {
    font-size: 85%;
    padding: 5px 0;
}
.featured .caption h5 a {
    color: #ffffff;
    font-weight: bold;
    display: block;
    text-decoration: none;
}
@media only screen and (max-width : 767px) {
    .table-responsive {
        border: 0;
    }
    .featured-items {
        margin: 0 15px;
    }
}