.footer {
  bottom: 0;
  height: 60px;
}
.footer {
  border-top: 1px solid #e7e7e7;
  margin: 20px 0;
}
.footer .footer-content {
  -moz-background-size: 100% 43px;
  -webkit-background-size: 100% 43px;
  background-size: 100% 43px;
  padding: 10px 15px 0;
}
.footer .footer-content .row .text-right .bar {
    color: #e7e7e7;
}