html {
  min-height: 100%;
  position: relative; }

body {
  margin-bottom: 60px;
  padding-bottom: 30px;
  padding-top: 15px; }

#main {
  padding-top: 34px;
  position: relative; }

.logo {
  left: 20px;
  position: absolute;
  top: 10px;
  z-index: 9999; }

.add-classified-btn {
  margin-left: 255px; }

.navbar {
  margin-bottom: 35px; }

.breadcrumb {
  background: 0 0;
  border-radius: 0;
  border-bottom: 1px solid #ddd; }

.breadcrumb > li + li:before {
  color: #cccccc;
  content: "\003E\00a0"; }

.form-counter input, .form-counter textarea {
  padding-right: 60px; }

.form-counter .input-counter {
  position: relative; }

.form-counter .input-counter div {
  color: #999999;
  position: absolute;
  right: 10px;
  top: 10px; }

.article-list ul {
  color: #555555;
  line-height: 1.8em;
  list-style: none;
  margin-top: 5px;
  padding-left: 20px; }

.article-list td .row {
  min-height: 130px; }

.article-list td h4 {
  margin-top: 0; }

.article-list td p.description {
  color: #555555;
  min-height: 55px; }

.article-list a {
  display: inline-block;
  position: relative; }

.article-list .photo-counter {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 0 0 6px 6px;
  bottom: 0;
  color: rgba(255, 255, 255, 0.85);
  display: block;
  font-size: 85%;
  padding: .35em .25em;
  position: absolute;
  text-align: center;
  width: 100%; }

.comments-list {
  list-style-type: none;
  padding: 0; }

.comments-list .comment {
  display: block;
  padding: 10px;
  width: 100%; }

.comments-list .comment .comment-heading {
  display: block;
  width: 100%; }

.comments-list .comment .comment-heading .user {
  display: inline;
  font-size: 14px;
  font-weight: bold;
  margin-right: 10px;
  margin-top: 0; }

.comments-list .comment .comment-heading .time {
  color: #aaa;
  display: inline;
  font-size: 12px;
  margin-top: 0; }

.comments-list .comment .comment-body {
  margin-left: 60px; }

.comments-list .comment > .comments-list {
  margin-left: 60px;
  margin-top: 20px; }

.comments-list .comment > .comments-list .comment {
  padding: 2px 5px; }

.comments-list .comment-replay {
  margin-top: 0; }

.comments-list .comment-replay hr {
  margin-bottom: 10px;
  margin-top: 10px; }

.comments-list .comment-replay .row {
  margin-left: 57px; }

.comments-list .comment-replay .row form {
  width: 100%; }

.comments-list .comment-controls {
  margin-bottom: 20px;
  margin-top: 20px; }

.comments-list .comment-controls.replay {
  margin-top: 20px; }

.selected-classifieds .thumbnail {
  margin-bottom: 20px;
  min-height: 235px; }

.selected-classifieds .caption {
  text-align: center; }

.thumbnail .caption {
  color: #333;
  padding: 9px; }

.selected-classifieds .caption h5 a {
  color: #555; }

.selected-classifieds .caption h5 {
  font-size: 85%;
  margin: 0; }

.footer {
  bottom: 0;
  height: 60px; }

.footer {
  border-top: 1px solid #e7e7e7;
  margin: 20px 0; }

.footer .footer-content {
  background-size: 100% 43px;
  padding: 10px 15px 0; }

.footer .footer-content .row .text-right .bar {
  color: #e7e7e7; }

.profile-pic {
  background-color: #f8f8f8;
  border-radius: 6px;
  border: 1px solid #e7e7e7;
  color: #777777;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center; }

.profile-pic img {
  margin: 10px; }

.profile-pic-container {
  margin-left: 0;
  margin-right: 0; }

.dashboard .main-box {
  border-radius: 6px;
  margin-bottom: 16px; }

.dashboard .info-box {
  color: #fff;
  padding: 20px; }

.dashboard .info-box .headline {
  display: block;
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 4px;
  text-align: right; }

.dashboard .info-box .value {
  display: block;
  font-size: 2.1em;
  font-weight: 400;
  margin-top: -5px;
  text-align: right; }

.dashboard .info-box i {
  border-radius: 50%;
  color: #fff;
  display: block;
  float: left;
  font-size: 4em;
  height: 60px;
  line-height: 60px;
  margin-left: 7px;
  margin-right: 15px;
  text-align: center;
  width: 60px; }

.dashboard .info-box.bg-primary {
  background-color: #337ab7 !important; }

.article .description {
  color: #999; }

.dl-horizontal dd.article-status {
  border-radius: 6px;
  font-weight: 700;
  padding: 5px 0; }

#main-carousel {
  background-color: #eee;
  margin-bottom: 4px; }

#main-carousel .carousel-inner div img {
  margin: auto;
  min-height: 416px; }

#main-carousel-thumbs ul {
  margin-left: 0; }

#main-carousel-thumbs ul li {
  cursor: pointer;
  padding: 0; }

#main-carousel-thumbs ul li.active img {
  opacity: .5; }

.vcenter {
  display: inline-block;
  float: none;
  vertical-align: middle; }

/* Categories */
.categories a i {
  float: right; }

.image-overlay {
  filter: alpha(opacity=40);
  /* msie */
  opacity: 0.4; }

.row.summary {
  margin-top: 25px; }

.row.summary dt {
  width: 73px; }

.row.summary dd {
  margin-left: 90px; }

/*# sourceMappingURL=app.css.map */
