<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews
    </IfModule>

    ExpiresActive On

    # 1 WEEK
    ExpiresByType image/png  A604800
    ExpiresByType image/gif  A604800
    ExpiresByType image/jpeg A604800
    <FilesMatch "\.(jpg|jpeg|png|gif)$">
        Header set Cache-Control "max-age=604800"
        Header append Cache-Control "public"
    </FilesMatch>

    # 3 HOUR
    ExpiresByType application/javascript   A10800
    ExpiresByType application/x-javascript A10800
    ExpiresByType text/css                 A10800
    <FilesMatch "\.(js|css)$">
        Header set Cache-Control "max-age=10800"
        Header append Cache-Control "public"
    </FilesMatch>

    <FilesMatch "\.(ttf|ttc|otf|eot|woff|woff2|font.css|css)$">
        Header set Access-Control-Allow-Origin "*"
    </FilesMatch>

    RewriteEngine On

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
