@import "components/main";
@import "components/header";
@import "components/breadcrumb";
@import "components/form";
@import "components/article-list";
@import "components/comments";
@import "components/featured";
@import "components/footer";
@import "components/panel";

@import "pages/article";

/* Categories */
.categories a i {
  float: right;
}

.image-overlay {
  filter: alpha(opacity=40); /* msie */
  opacity: 0.4;
}

.row.summary {
  margin-top: 25px;
}

.row.summary dt {
  width: 73px;
}

.row.summary dd {
  margin-left: 90px;
}
